<div id="comment_<%= comment.id %>" class="flex gap-2">
  <span class="text-xs font-bold text-green-700 shrink-0"><%= comment.user.display_name %></span>
  <span class="text-xs text-gray-600 leading-relaxed"><%= comment.content %></span>
</div>
